* {
  margin: 0;
  padding: 0;
}

.toggle-display {
  display: none;
}

.flex-container {
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./nice-looking-background.avif);
}

.main-content {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000000cd;
  padding: 30px;
  border-radius: 15px;
  height: 25vh;
  width: 60vh;
}

.output {
  text-align: center;
}

h1,
p,
button {
  color: white;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.title {
  margin-bottom: 10px;
  display: inline;
}

button {
  font-weight: 600;
  padding: 7px;
  border: 3px dashed white;
  background-color: #ffffff00;
  transition-duration: 0.4s;
  border-radius: 15px;
  width: 30%;
  /* width: 120px; */
}

button:hover {
  background-color: #fff;
  border: 3px dashed black;
  color: black;
}

.button-section {
  width: 100%;
  justify-content: center;
}

#test {
  justify-content: space-around;
}

#start-game {
  justify-content: center;
}

.text-section .flex-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.restart-button {
  align-items: center;
  justify-content: center;
}
